<!DOCTYPE html>
<html>
<head>
<title>Cloud Native Dashboard</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="sidebar">
<h2>DevOps Dashboard</h2>

<ul>
<li>Terraform</li>
<li>Jenkins</li>
<li>Docker</li>
<li>Kubernetes</li>
<li>Prometheus</li>
<li>Grafana</li>
</ul>
</div>

<div class="main">

<h1>Cloud Native Monitoring Platform</h1>

<div class="cards">

<div class="card">
<h3>CI/CD</h3>
<p>Running</p>
</div>

<div class="card">
<h3>Kubernetes</h3>
<p>Healthy</p>
</div>

<div class="card">
<h3>Monitoring</h3>
<p>Connected</p>
</div>

</div>

</div>

</body>
</html>
